body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header{
    width:100%;
    height:70px;
    background-color: rgb(55, 56, 56);
}
#home_decor{
    height:60px;
    width:370px;
    padding-top: 10px;
    font-size: 50px;
    color: azure;
    padding-left: 30px;
    float:left;
}
#our_services{
    height: 50px;
    width:200px;
    font-size: 33px;
    color: azure;
    margin-left: 280px;
    padding-top: 20px;
    float:left;
}
#our_services:hover{
    color:black;
}
#off{
    height:50px;
    width:200px;
    font-size: 30px;
    color: azure;
    float:left;
    margin-left: 20px;
    padding-top: 20px;
}
#off:hover{
    color: black;
}
#btn_visit_web{
    height:50px;
    width:200px;
    margin-top: 10px;
    border:none;
    background-color: rgb(40, 39, 39);
    color:azure;
    font-size: 25px;
    float:right;
    margin-right: 30px;
    transition: 1s ease-in;
    border-radius: 10px;
}
#btn_visit_web:hover{
    height:60px;
    width:220px;
    border:none;
    background-color: rgb(29, 30, 30);
    color:azure;
    font-size: 25px;
    float:right;
    margin-right: 15px;
    margin-top:5px;
}

.image{
    width: 100%;
    height:500px;
}
#image{
    width:100%;
    height:500px;
    position: relative;
}
#image_desc{
    font-size: 40px;
    position: absolute;
    width:300px;
    height:500px;
    color:azure;
    animation-name: welcome;
    animation-delay:1s;
    transition:1s;
    animation-duration: 2s;
    transition-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}
@keyframes welcome{
    0%{
        top:-5px;
        left:50px;
        color:rgba(255,255,255,0);
    }
    100%{
        top:200px;
        left:50px;
        color:rgba(255,255,255,1);
    }
}

.our_brand{
    height:400px;
    width:100%;
    margin-top: 40px;
    background-color: rgba(55, 56, 56,0.8);
}
#brand{
    height:60px;
    width:100%;
    background-color: rgba(55, 56, 56,0.8);
    font-size: 45px;
    color:azure;
    text-align: center;
    padding-top: 15px;
}
#pics{
    width: 100%;
    height: 390px;
    margin-left:60px;
    display:grid;
    grid-template-columns: auto auto auto auto;
}
#pic1{
    height:200px;
    width:200px;
    margin-top: 20px;
}
#pic1:hover{
    margin-top: 10px;
    height:210px;
    width:210px;
}
#pic2{
    height:200px;
    width:200px;
    margin-top: 20px;
}
#pic2:hover{
    margin-top: 10px;
    height:210px;
    width:210px;
}
#pic3{
    height:200px;
    width:200px;
    margin-top: 20px;
}
#pic3:hover{
    margin-top: 10px;
    height:210px;
    width:210px;
}
#pic4{
    height:200px;
    width:200px;
    margin-top: 20px;
}
#pic4:hover{
    margin-top: 10px;
    height:210px;
    width:210px;
}
#brand1{
    font-size:35px;
    color: azure;
    margin-left: 0px;
    margin-top: 30px;
}
#brand2{
    font-size:35px;
    color: azure;
    margin-left: 35px;
    margin-top: 30px;
}
#brand3{
    font-size:35px;
    color: azure;
    margin-left: 5px;
    margin-top: 30px;
}
#brand4{
    font-size:35px;
    color: azure;
    margin-left: 10px;
    margin-top: 30px;
}

#tag1{
    height:60px;
    width:100%;
    background-color: rgba(33, 34, 34, 1);
    margin-top: 40px;
    font-size: 45px;
    color:azure;
    text-align: center;
    padding-top: 15px;
}
#service{
    width:270px;
    height:50px;
    margin-left: 540px;
    border-bottom: 2px solid azure;
}
.our_service{
    height:600px;
    width:100%;
    margin-top: 40px;
    background-color: rgba(44, 44, 44, 0.8);
}
.service{
    width: 100%;
    height: 430px;
    display:grid;
    background-color: rgba(55, 56, 56,0.8);
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
}
#ser1{
    height:200px;
    width:200px;
    margin-top: 20px;
    margin-left:50px;
}
#ser1:hover{
    height:210px;
    width:210px;
    margin-top: 10px;
    margin-left:40px;
}
#ser2{
    height:200px;
    width:200px;
    margin-top: 20px;
    margin-left:50px;
}
#ser2:hover{
    height:210px;
    width:210px;
    margin-top: 10px;
    margin-left:40px;
}
#ser3{
    height:200px;
    width:200px;
    margin-top: 20px;
    margin-left:50px;
}
#ser3:hover{
    height:210px;
    width:210px;
    margin-top: 10px;
    margin-left:40px;
}
#ser4{
    height:200px;
    width:200px;
    margin-top: 20px;
    margin-left:50px;
}
#ser4:hover{
    height:210px;
    width:210px;
    margin-top: 10px;
    margin-left:40px;
}
#service1{
    font-size:25px;
    color: azure;
    margin-left: 40px;
    margin-top: 30px;
}
#service2{
    font-size:25px;
    color: azure;
    margin-left: 35px;
    margin-top: 30px;
}
#service3{
    font-size:25px;
    color: azure;
    margin-left: 5px;
    margin-top: 30px;
}
#service4{
    font-size:25px;
    color: azure;
    margin-left: 10px;
    margin-top: 30px;
}


#tag2{
    width:350px;
    height:50px;
    margin-left: 490px;
    border-bottom: 2px solid azure;
}
.block1,.block2,.block3{
    height:400px;
    width:100%;
}
#block1,#block3{
    height:350px;
    width:550px;
    margin-top: 30px;
    margin-left: 40px;
    float:left;
}
.block_1, .block_3{
    width:560px;
    margin-left: 60px;
    margin-top: 10px;
    height:350px;
    background-color: rgb(160, 160, 159);
}
#block2{
    height:350px;
    width:550px;
    margin-right: 40px;
    position:absolute;
    margin-top: 30px;
    right:0;
}
.block_2{
    width:560px;
    margin-right: 60px;
    margin-top: 10px;
    height:350px;
    position: relative;
    float:right;
    background-color: rgb(160, 160, 159);
}

#desc_block1,#desc_block3{
    height:350px;
    width: 500px;
    float:right;
    margin-top: 50px;
    margin-right: 50px;
    font-size: 40px;
}

#desc_block2{
    height:350px;
    width:500px;
    float:left;
    position: absolute;
    margin-top:50px;
    margin-left: 50px;
    font-size: 40px;
}
.sales{
    height:800px;
    width:100%;
}
.sales1,.sales2{
    height:400px;
    width:600px;
    margin-left:35px;
    float:left;
}

#sales{
    height:100px;
    width:200px;
    margin-top: 20px;
    margin-right: 300px;
    font-size: 30px;
    border:none;
    border-radius: 15px;
    background-color: rgb(160, 160, 159);
    color:azure;
    transition: 1s;
}
#sales:hover{
    height:110px;
    width:210px;
    margin-top: 10px;
    margin-right: 290px;
}

.contact{
    width:100%;
    height: 300px;
    background-color: rgba(55, 56, 56,0.8) ;
}
.contact1{
    height:200px;
}
.contact2{
    height: 90px;
    background-color: black;
    color: azure;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}
#contact1{
    font-size: 70px;
    text-align: center;
    float:left;
    color: azure;
    padding-top: 40px;
    height: 160px;
    width:675px;
}
#contact2{
    font-size: 35px;
    text-align: center;
    float:left;
    color: azure;
    padding-top: 40px;
    height: 160px;
    width:400px;
}
